
#### Expires By Type
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 60 seconds"
    ExpiresByType image/x-icon "access plus 29030400 seconds"
    ExpiresByType image/jpeg "access plus 29030400 seconds"
    ExpiresByType image/jpg "access plus 29030400 seconds"
    ExpiresByType image/png "access plus 29030400 seconds"
    ExpiresByType text/css "access plus 2592000 seconds"
    ExpiresByType text/javascript "access plus 2592000 seconds"
    ExpiresByType text/html "access plus 600 seconds"
</IfModule>

#### Cache-Control
<IfModule mod_headers.c>
    <FilesMatch "\\.(ico|jpeg|png|gif|swf|woff)$">
        Header set Cache-Control "max-age=29030400, private"
    </FilesMatch>
</IfModule>

### PHP
<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond $1 !^(index\.php|assets|intranet|uploads|robots\.txt|sitemap\.xml)
    RewriteRule ^(.*)$ index.php/$1 [L]

    RewriteCond %{HTTP_HOST} !^www.displansaude.com$ [NC]
    RewriteRule ^(.*)$ http://www.displansaude.com/ [R=301,NC,L]

     AddHandler application/x-httpd-php55  .php55 .php
    RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
    RewriteRule .* – [F,L]
#</IfModule>