@charset "utf-8";

/*Geral*/
#topo{
	background-color: #f7f7f7;
	border: solid 1px #bab3ab;
	border-top: none;
	margin-top: auto;
	z-index: 2;
}
.temp{
	position: absolute;
	z-index: 1;
	top: -2px;
	left: -20px;
}
#logo{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	width: 154px;
	height: 142px;
	text-indent: -99999px;
	z-index: 2;
}
#logo-print{
	visibility: hidden;
	display: none;
}
#contato-topo{
	margin-top: 15px;
	float: right;
	margin-right: -30px;
}
#contato-topo .contato-p1{
	font-size: 12px;
	margin-left: 30px;
	color: #606060;
}
#contato-topo .contato-p2{
	font-size: 24px;
	margin-top: -10px;
	margin-left: -2px;
	color: #606060;
}
#contato-topo img{
	float: right;
	margin-top: -60px;
	margin-right: 30px;
}
#navbar{
	margin-left: 400px;
	margin-top: -45px;
}
span.caret{
	color: black;
}
#navbar a.dropdown-toggle{
	border: none;
	box-shadow: none;
	font-size: 18px;
	color: #3c4250;
	font-family: Arial, serif;
}

.dropdown:nth-child(3) .dropdown-menu{
	left: auto;
	right: 0 !important;
}
.outer-banner{
	max-height: 270px;
}

/*Titulos*/
h1, h2, h3, h4{
	margin: 15px 0;
}
p{
	font-size: 1.16em;
}
.titulo-grande{
	font-size: 2.2em;
	color: #606060;
	margin-left: 10px;
	margin-top: 10px;
}
.titulo-medio{
	font-size: 1.6em !important;
	color: #606060;
	padding-top: 10px;
}
.titulo-pequeno{
	font-size: 1.4em;
	color: #606060;
	padding-top: 16px;
}
.plano-text{
	display: inline-block;
	float: none !important;
	padding: 15px 0 0 0;
}
.explain{
	text-align: left;
}
.no-padding{
	padding: 0 !important;
}
.blue-title{
	background: #2f5094;
	border: none !important;
}
.blue-title img{
	float: left;
	margin: 1.8% 10px 0 0;
}
.blue-title h1{
	font-size: 2.8em;
	font-weight: bold;
}
.blue-title h2{
	font-size: 2em;
	font-weight: bold;
}
.blue-title h3{
	font-weight: bold;
	font-size: 1.6em;
}
.blue-title h1,.blue-title h2,.blue-title h3{
	color: white !important;
}
.check-pattern{
	background: url(../img/pattern.png);
}
.static-banner{
	margin-top: -200px;
	width: 100%;
	height: auto;
	opacity: 0.2;
}
.darken{
	background: black;
	width: 100%;
	height: 635px;
	top: -635px;
	position: relative;
	z-index: -1;
}
.hidden{
	visibility: hidden;
}
.btn-more{
	background-color: #777777;
	float: left;
	height: 25px;
	width: 100%;
	text-align: center;
	color: white;
	border-radius: 0 !important;
	border: none !important;
	padding: 2px !important;
}
.btn-more:hover{
	background-color: #444444;
	color: white;
	text-decoration: none;
}

/*Slider*/
#myCarousel{
	margin-top: -200px;
	z-index: -1;
	float: left;
}
.carousel-ul{
	list-style: none;
}
li a.carousel-control{
	height: 50px;
	width: 50px;
	margin: -15em 20px 0 20px;
	padding-top: 8px;
	border-radius: 50%;
	border: 2px solid white;
}
/***** Breadcrumbs *****/
.breadcrumb{
	background: none !important;
	margin: 14em 0 -80% 8.3% !important;
	z-index: 1;
}
.breadcrumb li{
	color: white !important;
	font-size: 1.4em;
}
.breadcrumb li.active a{
	font-size: 2em;
	color: white !important;
	font-weight: bold;
}
.breadcrumb li a{
	color: white
}
#wrapper{
	float: left;
	position: relative;
	margin-top: -100px;
	-moz-width: 30%;
}
.bloco{
	margin-left: 0.3% !important;
	margin-top: 1em;
}
.bloco-plano{
	margin-left: 0.3% !important;
	margin-top: 8em;
}
.title{
	margin-bottom: 10px;
	margin-left: 8.3%;
	width: 83.3%;
	background-color: #ececec;
	padding: 18px 0;
	border: solid 1px #bab3ab;
	border-bottom: none;
	box-shadow: 1px 1px 2px #888888;
}
.content{
	background-color: white;
	margin-top: -9px;
	margin-left: 8.3%;
	padding: 0 0 15px 0 !important;
	text-align: center;
}
.content h5{
	font-weight: lighter;
	font-size: 16px;
}
.plano-box{
	background: #f1f2f2;
	margin: 15px 7px 0 7px;
	text-align: center;
	display: inline-block !important;
	float: none !important;
	padding: 0 0 10px 0 !important;
	width: 18% !important;
}
.plano-box h2{
	padding-left: 10px;
}
.plano-box img{
	width: 100%;
	height: auto;
}
.plano-box p, .plano-box h2{
	text-align: left;
}
.plano-box .btn{
	display: inline-block;
}
.inside:first-child{
	margin-left: 0px !important;
}
.inside{
	padding: 0 0 10px 0 !important;
	background: #f1f2f2;
	margin: 20px 0 0 15px;
	width: 32.423% !important;
}
.inside:first-child{
	margin-left: 0px !important;
}
.inside h2{
	margin-left: 10px;
}
.operadoras p{
	margin-top: 10px;
	min-height: 70px;
}
.operadoras ul li{
	list-style: none;
	margin-top: 20px;
	margin-bottom: 40px;
}
.operadoras ul li a{
	text-decoration: none;
}
.operadora-img{
	float: left;
	margin-right: 5px;
	height: 50px;
	width: auto;
}
.operadoras ul li a h5{
	padding-top: 15px;
	color: black;
}


/******* Div Expansível *******/
.operadoras .lista{
	height: 0;
}
.operadoras .lista.listaAberta{
	height: 100%;
}
.bg-cred-info .lista{
	height: 200px;
}
.bg-cred-info .lista.listaAberta{
	height: 100%;
}
/************ Locais que Utilizam *************/
.full {
    width: 100%;
    float:left;
}

.lista {
	width: 100%;
    float: left;
    line-height: 1.35429;
    overflow: hidden;
}
 
.listaAberta {
    float: left;
    height: 100%;
    line-height: 1.35429;
    overflow: hidden;
}

.btnAbrir {
    color: white;
    height: 25px;
    width: 100%;
    text-align: center;
    float: left;
	background-color: #777777;
	padding-top: 2px;
    cursor: pointer;
    z-index: 99999;
}
.btnAbrir:before {
	content: "Ver Mais";
}
 
.btnFechar {
	background-color: #777777;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 100%;
    text-align: center;
    z-index: 99999;
    color: white;
	padding-top: 2px;
}
.btnFechar:before {
	content: "Ver Menos";
}
.btnAbrir:hover, .btnFechar:hover{
	background-color: #444444;
}

/*tabela pages*/
.img-title{
	max-height: 120px;
	width: auto;
	margin-left: -10px;
	float: left;
}
.titulo-unimed{
	padding: 10px 0;
	margin-top: 20px;
}
.unimed-content{
	margin-bottom: 5%;
	width: 83.3%;
}
.subtitle{
	color: white;
	background-color: #4bb558;
	padding: 0 20px;
	margin-top: 10px;
}
.subtitle h3{
	margin-top: 10px;
}
.subtitle h4{
	margin-top: -5px;
	font-weight: bolder;
}
.hidden{
	visibility: hidden;
	height: 0;
	margin-bottom: -20px;
}

#tabelas {
	margin: 20px 0 10px 0;
	padding-right: 0 !important;
}

div.tabela{
	display: inline;
	width: 15.3%;
}
.t1{
	margin-top: 26px;
}
.t2{
	margin-left: 10px;
	padding: 10px 5px;
	border: solid 1px #bab3ab;
	background-color: #ecebeb;
}
.tabela ul{
	list-style: none;
	display: inline;
}
.tabela ul li{
	width: 80px;
	text-decoration: underline;
	margin-top: 15px;
	display: inline-block;
	text-align: center;
}
.li-1{
	margin-left: -30px;
}
.li-2{
	margin-left: 5px;
}
.aside{
	margin-top: 10px;
	margin-left: -5px;
	color: #606060;
	float: right !important;
}
.content .bg-faixa-etaria{
	background: #f6f6f6;
	padding: 0 5px 20px 5px;
	margin-left: 0;
}
.bg-cred-info{
	background-color: #ecebeb;
	padding: 2px 10px;
	margin-top: 10px;
	float: left;
	width: 100%;
}
.bg-cred-info h5{
	font-weight: bolder;
}
.info-2{
	float: left;
	margin-top: 10px;
	width: 100%;
}
#tellus{
	background-color: #f2620d;
	padding-top: 10px;
	margin-left: 15px;
	height: 50px;
	width: 72.3%;

}
#tellus h3{
	color: white;
	margin-top: -5px;
	font-size: 34px;
	font-weight: bold;
}
#tellus img{
	float: right;
	margin-top: -46px;
}
/*footer*/

#footer{
	float: left;
	color: white;
	padding: 10px 0;
	background-color: #2f5094;
	width: 100%;
	margin-top: 20px;
}
#footer i{
	margin-right: 5px;
}
.borda-h4{
	border-bottom: 1px solid white;
	padding-bottom: 15px
}
#map-canvas{
	height: 300px;
}
/*formulário*/
#formulario legend, #formulario label{
	display: none;
}
fieldset input, fieldset textarea{
	border-radius: 5px;
	background-color: white;
	border: 1px solid #ccc;
	padding: 5px 0;
	margin-bottom: 10px;
	color: black;
	max-width: 265px;
	max-height: 200px;
}

#formulario form button.btn{
	float:right;
	margin-top: 10px;
}
.modal-success{padding-left: 120px; color: green;}
.modal-fail{padding-left: 180px; color: red;}
#telefone h5{
	font-weight: bold;
	font-size: 1.2em;
}
#copy{
	background: #26427b;
	margin: 0;
	color: white;
	height: 80px;
	float: left;
	width: 100%;
}
address{
	padding: 30px 0 0 20px;
	margin-left: -20px;
}
#by{
	float:right;
	margin-right: -40px
}
#by h6{
	padding: 5px 5px 0;
}
#by img{
	margin-top: -10px;
}
.titulo-rodape{
	border-bottom:2px solid #fff;
	margin: 20px 0;
	padding: 7px 0;
}
.margin-less{
	margin-top: 180px !important;
}
/*responsividade*/
@media (max-width: 1024px){
	#topo{
		margin-left: 8%;
		height: 140px;
	}
	#navbar{
		margin-left: 140px;
		margin-top: -55px;
		width: 90%;
	}
	#contato-topo{
		width: 35%;
		margin-right: -50px;
	}
	#myCarousel{
		margin-top: -80px;
	}
	.breadcrumb{
		margin: 20px 0 -80% 7.7% !important;
	}
	.title{
		margin-left: 75px;
		width: 83.3% !important;
	}
	.title h1{
		width: 100%;
	}
	.content{
		margin-left: 75px;
		width: 83.3% !important;
	}
	.inside{
		width: 32.1% !important;
	}
	#footer{
		padding-left: 20px;
	}
	#onde-estamos{
		margin-left: 7.5%;
	}
	#map-canvas{
		width: 100%;
	}
	#copy{
		margin-top: 10px 0 0 -102px;
		height: auto;
	}
	#copy address{
		margin-left: 60px;
	}
	#by{
		margin: 10px -100px 0 0;
		width: 18%;
	}
	/*tabela pages*/
	.titulo-unimed{
		margin-top: 10px;
	}
	.img-title{
		width: 25%;
	}
	.content .bg-faixa-etaria{
		padding-left: 0;
		padding-right: 0;
	}
	#tabelas{
		padding-right: 0;
		padding-left: 0;
		width: 70%;
	}
	.content .aside{
		padding-left: 0;
		padding-right: 10px;
		width: 29%;
	}
	.t2{
		margin-left: 5px;
	}
	#tabelas li{
		font-size: 12px;
	}
	.li-1{
		margin-left: -50px;
	}
	.li-2{
		margin-left: -10px;
	}
	#tellus{
		width: 66.2%;
		padding: 0;
		margin-left: 10px;
	}
	#tellus h3{
		font-size: 1.6em;
		padding: 0 5px;
		margin-left: 20px;
		margin-top: 8px;
	}
	#tellus img{
		margin-top: -40px;
		margin-right: 20px;
	}
}
@media (max-width: 768px){
	#topo{
		margin-left: 0px;
		height: 260px
	}
	#logo{
		margin-top: 60px;
		margin-left: 20px;
		position: absolute;
	}
	#contato-topo{
		width: 40%;
		margin-top: 120px;
		margin-right: -30px;
	}
	#navbar{
		margin-left: 0;
		width: 100%;
		padding: 0;
	}
	.navbar{
		width: 100%;
	}
	ul.navbar-nav{
		margin-top: 20px;
	}
	#myCarousel{
		margin-top: 0;
	}
	li a.carousel-control{
		margin-top: 140px;
	}
	
	.breadcrumb{
		margin: 0 0 20px 0 !important;
	}
	.breadcrumb li.active a{
		font-size: 2em;
	}
	#wrapper{
		width: 100%;
	}
	.title{
		margin-left: 0;
		margin-bottom: 0;
		padding-bottom: 15px;
	}
	.title, .content{
		margin-left: 0 !important;
		width: auto !important;
	}
	.bloco{
		margin-left: 0 !important;
		width: 100% !important;
	}
	.bloco-plano{
		margin-top: -14em;
	}
	.plano-box{
		width: 31% !important;
	}
	.operadoras{
		margin-top: 10px;
	}
	.operadoras ul li a h5{
		margin-left: 8px;
	}
	.inside{
		width: 32.14% !important;
		float: left;
		margin: 20px 0 0 1.75%;
	}
	.inside img{
		width: 100%;
	}
	.operadoras ul li a img{
		width: auto;
	}
	.border-right{
		border: none;
		padding: 0;
	}
	#footer{
		padding-left: 0;
	}
	#footer #map-canvas{
		height: 250px;
		width: 96%;
		margin: 20px;
	}
	#onde-estamos{
		margin-left: 0;
	}
	#nossohorario, #telefone{
		width: 50%;
		float: left;
	}
	#contato p, #formulario{
		text-align: center;
	}
	#formulario form fieldset input,
	#formulario form fieldset textarea{
		width: 100%;
		margin-left: 15px;
		display: inline-block;
	}
	#formulario form fieldset button.btn{
		width: 20%;
		margin-right: 205px;
	}
	#copy{
		width: 100%;
		padding-bottom: 20px;
	}
	#copy address{
		margin-left: 45px;
	}
	#by{
		margin-right: 260px;
		width: 25%;
	}
	/*Tabela pages*/
	
	.unimed-content{
		width: 100%;
		padding-top: 1px;
	}
	.content .bg-faixa-etaria{
		padding-top: 10px;
		margin-top: -10px;
	}
	.subtitle{
		margin-top: 10px;
		padding: 10px 0;
	}
	.subtitle h3{
		margin-top: 0;
	}
	#tabelas{
		margin-bottom: 0;
		margin-left: 2px;
		width: 100%
	}
	div.tabela{
		display: block;
		float: left;
		width: 16%;
		margin-left: 2px;
	}
	.li-1{
		margin-left: -40px;
	}
	.li-2{
		margin-left: 2px;
	}
	.content .aside{
		width: 100%;
		float: none !important;
		margin-left: 12px;
		display: inline-block;
	}
	.bg-cred-info{
		width: 48.6%;
		float: left;
	}
	.info-2{
		margin-left: 10px;
	}
	#tellus{
		margin-top: 10px;
		width: 98%;
	}
	#tellus h3{
		font-size: 1.8em;
		padding-top: 5px;
		margin-left: 80px;
	}
	#tellus img{
		margin-right: 70px;
		margin-top: -40px;
	}
}
/**** Menu Responsivo - 480px . 320px ****/
button.navbar-toggle{
	background-color: #f7f7f7;
	border-color: #ddd;
	float: none;
}
span.icon-bar{
	background-color: #888;
}
div.navbar-header{
	margin-left: -10px;
}
@media (max-width: 480px){
	#topo{
		margin-top: 0;
		padding-top: 20px;
		height: auto;
	}
	#logo{
		margin-left: 120px;
		margin-top: 10px;
	}
	#contato-topo{
		display: none;
		visibility: hidden;
	}
	div.navbar-header{
		margin-top: 200px;
	}
	.navbar-collapse{
		border: 2px solid #ddd;
		border-bottom: none;
	}
	#myCarousel{
		visibility: hidden;
	}
	.static-banner{
		visibility: hidden;
		display: none;
	}
	.darken{
		visibility: hidden;
		display: none;
	}
	.a-carousel a{
		visibility: hidden;
	}
	.breadcrumb{
		background: #ececec !important;
		margin: 10px 0 10px !important;
	}
	.breadcrumb li{
		padding: 8px 0;
	}
	.breadcrumb li, .breadcrumb li a, .breadcrumb li.active a{
		color: #606060 !important;
	}
	.breadcrumb li, .breadcrumb li a{
		font-size: 1.1em;
	}
	.bloco{
		margin-top: -7em;
	}
	.bloco-plano{
		margin-top: 7.5em;
	}
	.title{
		margin-top: 10px;
	}
	.blue-title h1{
		font-size: 2.2em !important;
		width: 100%;
	}
	.blue-title h3{
		font-size: 1.4em;
	}
	.content{
		margin-top: -10px;
	}
	.inside{
		width: 100% !important;
		margin: 20px 0 0 0.2%;
	}
	.operadoras{
		margin-left: 0;
	}
	.plano-box{
		width: 46.23% !important;
	}
	footer{
		height: 940px;
		width: 109.5%;
		margin-left: -20px;
		float: left;
	}
	#footer #map-canvas{
		width: 98%;
		margin-left: 0;
	}
	#onde-estamos,
	#nossohorario,
	#telefone{
		width: 98%;
	}
	#telefone .phone{
		margin-top: 2px;
	}
	#contato{
		margin-left: 0;
		width: 98%;
	}
	#formulario form fieldset input,
	#formulario form fieldset textarea{
		margin-left: 8px;
		max-width: 100%;
		width: 90%;
	}
	#formulario form fieldset button.btn{
		margin-right: 10px;
	}
	#copy{
		width: -30px;
	}
	#copy address{
		margin-left: 30px;
	}
	#copy #by{
		margin-right: 140px;
		width: 35%;
	}
	/*Tabela pages*/
	.img-title{
		width: 40%;
		margin-left: -5px;
		margin-top: 8px;
	}
	h1.titulo-unimed{
		margin-left: 150px;
	}
	div.unimed-content{
		padding: 0 0 0 10px;
	}
	div.subtitle{
		padding: 5px;
		margin: 5px 0 0 0;
	}
	.content .bg-faixa-etaria{
		margin-top: 0;
		padding-left: 0;
	}
	#tabelas{
		margin-left: 0px;
		margin-top: -5px;
		width: 104%;
	}
	#tabelas span{
		visibility: hidden;
	}
	div.tabela{
		display: block;
		margin-left: 0;
	}
	.t1{
		margin-left: -40px;
	}
	.t2{
		width: 20%;
		margin-left: 0;
	}
	.ul-1{
		margin-left: 5px;
	}
	.li-1{
		margin-left: -62px;
	}
	.li-2{
		margin-left: -22px;
	}
	.content .aside{
		margin-left: 5px;
	}
	.info-2{
		margin-left: 10px;
	}
	#tellus{
		margin-left: 15px;
		margin-top: 30px;
		width: 94%;
	}
	#tellus h3{
		margin: 0 0 0 5px;
		padding-top: 10px;
		font-size: 1.2em;
	}
	#tellus img{
		width: 10%;
		margin-top: -28px;
		margin-right: 15px;
	}
	.hidden{
		margin-bottom: -40px;
		margin-top: -20px;
	}
}
@media (max-width: 320px){
	#logo{
		margin-left: 50px;
		margin-top: 20px;
	}
	#navbar{
		margin-top: -30px;
	}
	#wrapper{
		margin-top: -130px;
	}
	.margin-less{
		margin-top: 10px !important;
	}
	.bloco{
		margin-top: 0;
	}
	.bloco-plano{
		margin-top: 10em;
	}
	.breadcrumb{
		margin-top: 10px !important;
	}
	.breadcrumb li.active a{
		font-size: 1.8em;
	}
	.a-carousel a{
		margin-top: 180px;
	}
	.content{
		margin-top: 0;
	}
	.title{
		width: 100%;
	}
	.title h1{
		width: 100%;
	}
	.operadoras ul{
		margin-left: -10px;
	}
	.operadoras ul li a h5{
		margin-left: 20px;
	}
	.operadora-img{
		width: auto !important;
	}
	.plano-box{
		width: 100% !important;
		margin-left: 0;
	}
	footer{
		width: 115%;
	}
	#footer{
		width: 100%;
	}
	#footer #map-canvas{
		margin-left: 2px;
	}
	#formulario form fieldset input,
	#formulario form fieldset textarea{
		margin-left: 0;
		width: 100%;
	}
	#formulario form fieldset button.btn{
		width: 30%;
	}
	#nossohorario{
		margin-top: 10px;
	}
	#copy{
		width: 100%;
		margin-top: -10px;
	}
	#copy address{
		margin-left: 30px;
	}
	#copy #by{
		width: 55%;
		margin-right: 65px;
	}
	/*Tabela pages*/
	.img-title{
		width: 70%;
		margin-left: 35px;
		margin-bottom: 10px;
	}
	h1.titulo-unimed{
		margin-left: 15px;
	}
	.subtitle{
		padding-bottom: 5px;
	}
	#tabelas{
		visibility: hidden;
		display: none;
	}
	div.hidden{
		visibility: visible !important;
		display: block !important;
	}
	.hidden h3{
		font-size: 1.3em;
	}
	.aside{
		margin-top: 100px;
	}
	.bg-cred-info{
		width: 100%;
	}
	.aside .info-2{
		position: inherit;
		margin: 10px 0 0 0;
	}
	.content .bg-faixa-etaria{
		padding-bottom: 20px;
	}
	#tellus{
		margin-left: 12px;
		width: 91%;
		height: 50px;
	}
	#tellus h3{
		padding-top: 5px;
		font-size: 1.3em;
	}
	#tellus img{
		margin-top: -20px;
		margin-right: 75px;
	}
}