/*------------------------------
- Geral
-------------------------------*/
.comboLoad {
	margin: 7px 0 0 0;
	letter-spacing: 2px;
	display: none;
}

#rmvColuna {
	display: none;
}

.ls-pagination li {
	cursor: pointer;
}

.margin-top-botao {
	margin-top: 18px;
}

.tempo-carregamento {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.ls-tag-success {
	background: #1AB551;
}

a {
	outline:none;
}

.ls-list-title small {
	margin-top: 5px;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.countNotificacoes {
	width: 15px;
	height: 15px;
	background: red;
	position: absolute;
	top: -10px;
	left: 10px;
	z-index: 9999999999999999999999999;
	font: 12px Helvetica;
	border-radius: 20px;
	color: #fff;
	display: none;
}

/*------------------------------
- Utilitários
-------------------------------*/
.separador {
    background: url('../images/pontilhado.png') 0 40px;
    border: 0;
    height: 5px;
}

.separador-dois {
	width: 100%;
	height: 5px;
	background: url('http://s.glbimg.com/en/ho/static/globocom2012/img/pontilhado.png?771d4029f20c') 0 0 repeat;
	margin: 10px 0;
	float: left;
}

.separador-vertical {
	min-height: 600px;
	width: 5px;
	background: url('http://s.glbimg.com/en/ho/static/globocom2012/img/pontilhado.png?771d4029f20c') 0 0 repeat;
	margin: 0 10px;
	float: left;
}

.alerta {
	position: absolute;
	top: 75px;
	right: 10px;
	z-index: 9999999;
	width: 700px;
}

.ls-dismiss {
	margin: 0 0 0 10px;
}

.borda-tabela {
	border: 1px solid #dfdfde
}

.text-upper {
	text-transform: uppercase;
}

/*------------------------------
- Icones
-------------------------------*/
.ls-menu i {
	font-size: 20px;
	margin: 0 0 0 -36px;
	float: left;
}

/*------------------------------
- Background
-------------------------------*/
.bg-red { background: red; }


/*------------------------------
- Imagens
-------------------------------*/
.image-thumb {
	padding: 5px;
	background: #fff;
	margin: 0 0 10px 0;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}


/*------------------------------
- Login
-------------------------------*/
.wraper-login {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -200px;
}

/*------------------------------
- Header
-------------------------------*/
.header {
	width: 100%;
	height: 100px;
	background: #ffffff;
	border-top: 5px solid #23456e;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75);
}

/*------------------------------
- Email
-------------------------------*/
.tabela-email td a.nao-lido {
	font-weight: bold;
}

/*------------------------------
- Chat
-------------------------------*/
.usuarios-chat .panel{
	border-top: 0;
	border-radius: 0;
	padding: 0;
}

.usuarios-chat .panel-heading {
	width: 100%;
	background: #23456e;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	font-family: "locastyle";
	border-radius: 0;
}

.usuarios-chat .media-heading {
	text-transform: uppercase;
}

.msg-wrap {
	margin: 0 0 10px 0;
}

.chat-body {
	height: 400px;
	overflow: auto;
}

.conversation {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.chat-users {
	height: 430px;
	overflow: auto;
}

.chat-users .admin {
	color: #23456e;
}

.chat-user .media-heading {
	font-weight: bold;
	margin-bottom: 0;
}

.chat-user small {
	color: #d7d7d7;
}

.chat-user small.online {
	color: #468847;
}

.chat-user .separador {
	width: 100%;
	background: url('../images/pontilhado.png') 0 40px;
	border: 0;
	height: 8px;
	margin: 10px 0;
}

.chat-user .separador-users {
	width: 100%;
	background: url('../images/pontilhado.png') 0 40px;
	border: 0;
	height: 3px;
	margin: 10px 0;
}

#box-mensagem .panel-body {
	height: 500px;
	overflow: auto;
}

.box-estatisticas {
	min-height: 170px;
}

.box-estatisticas .panel-heading {
	background: #23456E;
	color: #fff;
}

.painel-estatistica .ls-list {
	display: none;
}

.preloader img{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 0 0 -40px;
}

.box-estatisticas .ls-list {
	border-style: none;

}

/*------------------------------
- Timeline
-------------------------------*/
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 15px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li:nth-child(even) > .timeline-panel {
    float: right;
}

.timeline > li:nth-child(even) > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li:nth-child(even) > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
